body{
	font-family:montserrat, sans-serif;
	background-color: #6339A1;
	margin:0;
	padding:0;
}

h1{
	font-size:4rem;
	margin:0;
}

h2{
	font-size:2rem;
}

h3{
	font-size:1.5rem;
	font-weight: normal;
}

h4{
	font-size:1.25rem;
	font-weight: normal;
}

p{
	font-size:1rem;
	font-family: "ubuntu mono", monospace;
	font-weight: lighter;
}

a{
	color:#001AFF;
	display:inline-block;
	transition: transform .2s; /* Animation */
}

a:hover{
	transform:scale(1.05);
}

.divider-line{
	display:block;
	width:clamp(70%,75%,80%);
	height:1px;
	background-color: #bbb;
	margin: 1em 0;
	padding:0;
}

aside a{
	text-decoration: none;
	color:black;
	padding: .5rem 0;
	margin-bottom: 1rem;
}

pre{
	white-space: pre-line;

}

aside > .divider-line{
	margin:0;
}

nav a{
	color:white;
	display:inline-block;
	padding:1rem;
	text-decoration:none;
	margin-left:2rem;
}

nav a:hover{
	text-decoration:underline;
}

header{
	width:100%;
	background-color:#6339A1;	
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1rem 2.5rem;
	border-bottom:.25px solid rgba(0,0,0,.3);
	z-index: 999;
}

.dippd-logo{
	display:inline-block;
	width:clamp(100px,100px,150px);
}

.cart-icon{
	background-image: url('../img/shopping-cart-icon.png');
	background-repeat: no-repeat;
	background-position:center;
	width:60px;
	height:60px;
}

.cart-icon:hover{
	background-image: url('../img/shopping-cart-icon-hover.png');
}

.hero{
	color:white;
	width:100%;
	background-color: rgba(0,0,0,0.2);
	display:flex;
	height: 35vh;
	align-items: center;
	/*margin-bottom:4rem;*/
}

.section-heading{
	display:flex;
	background-color:white;
}

aside{
	position:sticky;
	top:0;
}

li{
	margin-bottom: .25rem;
}

.code-snippet{
	margin-top:1rem;
	margin-bottom:3rem;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	padding:1rem;
	border:1px solid #999;
	background-color:#DDD;
}

.code-snippet p{
	margin-top:0;
}

button{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	font-size:1rem;

	color:black;
	border-radius: 0;
	border-style:solid;
	border-color:black;
	border-width:3px;
	padding:1rem 2rem;

	box-shadow: .5rem .5rem black;
	background-color:#FED10A;
	margin-right:1rem;

	transition: transform .2s; /* Animation */
}


button[type]:hover{
	transform:scale(1.05);
}

button[type]:focus{
	outline:0rem;
}

button[type="reset"]{
	background-color:#c6c6c6
}

button.cta-button:focus{
	outline:0rem;
}

label{
	display:block;
}

input{
	font-family:"ubuntu mono", monospace;

	margin-top:.5rem;
	padding:.75rem;
	
	border-radius:10px;
	border-color:#CCC;
	border-width: 1px;

	box-shadow: .5rem .5rem;
}

input[type]:focus{
	outline:0rem;
}

input[type="address"]::placeholder{
	color:#ddd;
}

input[type="number"]{
	font-family:"ubuntu mono", monospace;

	margin-top:0;
	padding:.75rem;
	width:5rem;
	margin:0 .5rem;

	border-radius:100px;
	border: 1px solid black;

	box-shadow: none;
}

/* MODULAR PATTERN ELEMENTS STYLING -------------------------------------------------------------------------------- */ 

/* MAIN NAVIGATION -------------------------------------------------------------------------------- */ 
.main-nav{
	width:100%;
	background-color:#6339A1;	
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 1rem 2rem;
}

.main-nav-wrapper{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

/* FOOTER -------------------------------------------------------------------------------- */ 

.footer-wrapper-grid{
	color:white;
	display:grid;
	grid-template-rows:3fr 1fr;
}

.footer-copyright{
	text-align:center;
	grid-row:2;
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	background-color:#6339A1;
}

.footer-copyright p{
	font-size:.75rem;
	width:clamp(45ch,50%,75ch);
}

.footer-list-wrapper{
	grid-row:1;
	display:flex;
	align-items: baseline;
	justify-content: space-between;
	width:100%;
	background-color:#6339A1;

	padding:3rem;
	font-family:"ubuntu mono", monospace;
	font-weight:lighter;
}

.footer-list-wrapper a:hover{
	text-decoration:underline;
}

.footer-icons a:hover{
	text-decoration:none;
}

.footer-wrapper-grid ul{
	list-style-type:none;
	margin:1rem 0;
	padding:0;
}

.footer-list-wrapper h5{
	font-family:montserrat, sans-serif;
	margin:0;
}

.footer-instagram-link{
	display:flex;
	align-content: center;
	align-items: center;
}

.footer-icons p{
	display:inline;
	font-family:montserrat, sans-serif;
	margin-left:10px;
}

.footer-list-wrapper a{
	color:white;
	text-decoration:none;
}

.footer-icons, .footer-location, .footer-hours, .footer-contact, .footer-help {
	display:flex;
	flex-direction: column;
}

.footer-list-wrapper > .divider-line{
		background-color: white;
		display:none;
		width: 100%;
}

/* PRODUCT GRID ITEM -------------------------------------------------------------------------------- */ 

.product-grid__item{
	margin:2.5rem 2.5rem 2.5rem 2.5rem;
}

#product-grid-item{
	background-color:#FFB6D0;
}

.product-grid{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}

.vegan{
	display:inline;
	color:#64D9C2;
}

.gluten-free{
	display:inline;
	color:#FFF5C0;
}

.product-grid__item{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.product-grid__item-info{
	display:flex;
	justify-content: center;
	align-content: center;
}
.product-grid__item-info img{
	align-self: center;
	margin-left:.5rem;
}

.product-grid__item-quantity {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="number"]{
	font-family:"ubuntu mono", monospace;

	text-align: center;

	margin-top:0;
	padding:.5rem;
	width:3rem;
	margin:0 .5rem;

	border-radius:5px;
	border: 1px solid #CCC;

	box-shadow: none;
}

input[type="number"]::placeholder{
	color:#ddd;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

button[type="quantity"]{
	font-family:"ubuntu mono", monospace;
	font-weight:bold;
	font-size:1rem;
	color:black;

	width:2rem;
	height:2rem;
	border:none;
	border-radius: 50%;
	padding:0rem;
	background-color:#FED10A;
	box-shadow:none;
	margin-right:0;

	transition: transform .2s; /* Animation */
}

button[type="quantity"]:hover{
	transform:scale(1.15);
}

.product-grid__item-img-wrapper{
	position:relative;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	z-index: 0;
}

.product-grid__item-img-wrapper img{
	width: clamp(10vw,100%,50vw);
	max-height: 100%;
	margin:auto;
}

.product-grid__item-text{
	position:absolute;
	color:white;
	width:100%;
	height:100%;
	border-radius: 10px;
	text-align: center;
	padding:5%;

	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	opacity: 0;
	transition: opacity .2s;
}

.product-grid__item-text > p{
	margin-top:0;
}

.product-grid__item-text-dietary{
	display:inline;
}

.product-grid__item-text:hover{
	opacity: 1;

	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;

	background-color: rgba(0,0,0,0.7);
}

/* SOCIAL MEDIA CARD -------------------------------------------------------------------------------- */ 
.social-media-card-grid{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	margin-bottom:2.5rem;
}

.social-media-card-wrapper{
	grid-column:1/2;
	display:flex;
	flex-direction:column;
	box-shadow:.5rem .5rem black;
}

.social-media-card-text{
	height:clamp(5rem, 100vw, 8.5rem);
	margin:0.938rem 0.938rem 0.938rem 0.938rem;
}

.social-media-card-text p{
	font-size:1.313rem;
	margin:0rem;
}

.social-media-card-footer{
	/*display:flex;
	flex-direction:row;*/
	display:grid;
	grid-template-columns: 4fr 0.5fr; 
	background:#55D1B9;
	align-items:center;
}

.social-media-card-tag{
	grid-column:1/2;
	margin-left:0.938rem;
}

.social-media-card-tag p{
	grid-column:1/2;
	font-size:1.313rem;
}


.social-media-card-logo{
	grid-column:2/3;
}

/*Unused flexbox implementation; couldn't get the bottom bar to align*/
/*.social-media-card-footer p{
	font-size:1.313rem;
	margin:0.938rem 0.938rem 0.938rem 0.938rem;
}

.social-media-card-footer img{
	justify-content:end
}*/


/* CHECKOUT PRODUCT PREVIEW -------------------------------------------------------------------------------- */ 
/*this aside menu's size can take up the whole right side for the real website*/
.checkout-product-preview-menu{	
	padding:2.5rem 6.25rem 2.5rem 2.5rem;
	background:#6339A1;
}

.checkout-product-preview-wrapper{
	/*display:flex;
	flex-direction: column;*/
	display:grid;
	grid-template-columns: 1fr;
	background:#6339A1;
}

.bottom-checkout{
	margin-top:1.5rem;
}

.bottom-checkout > .divider-line{
	width:100%;
}

.product-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.subtotal-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.shipping-name-and-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.total-value{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left:1.25rem;
}

.top-checkout img{
	width:clamp(10vw, 50%, 50vw);
	max-height:100%;
	margin:auto;
}

.product-name-and-value p, .subtotal-name-and-value p, .shipping-name-and-value p{
	font-family:montserrat, sans-serif;
	font-size:1.125rem;
	color:white;
	margin-top:0rem;
	margin-bottom:0.625rem;
}

.total-value p{
	font-family:montserrat, sans-serif;
	font-size:1.125rem;
	font-weight:bold;
	color:white;
	margin-top:0rem;
}

/*Unused Implemtantation*/
/*.checkout-product-preview-wrapper th{
	color:white;
	font-weight:lighter;
	font-size:1.125rem;
	text-align:left;
}

.checkout-product-preview-wrapper td{
	color:white;
	font-weight:lighter;
	font-size:1.125rem;
	text-align:right;
}

.checkout-product-preview-wrapper tbody > tr.subtotal-price > th{
	padding-top:1.5rem;
}

.checkout-product-preview-wrapper tbody > .subtotal-price > td{
	padding-top:1.5rem;
}

.checkout-product-preview-wrapper tfoot > .total-price > th{
	color:white;
	font-weight:bold;
	font-size:1.125rem;
	text-align:left;
	padding-top:1.5rem;
}

.checkout-product-preview-wrapper tfoot > .total-price > td{
	color:white;
	font-weight:bold;
	font-size:1.125rem;
	text-align:right;
	padding-left:5rem;
	padding-top:1.5rem;
}
*/

/* FAQ ELEMENT -------------------------------------------------------------------------------- */ 
.faq-element-grid{
	display:grid;
	grid-template-columns:repeat(9,1fr);
}

.faq-element-wrapper{
	grid-column:1/span 9;
	position:relative;
}

.faq-element-wrapper .down-arrow{
	color:#FED10A;
	grid-column-start: 9;
	padding-left:0;
	font-family: ubuntu mono, monospace;
}

.faq-element-wrapper .up-arrow{
	color:#11362F;
	grid-column-start: 9;
	padding-left:0;
}

.faq-question{
	display:grid;
	grid-template-columns:repeat(9,1fr);
	background-color:#2D6E62;
	box-shadow:0.5rem 0.5rem #11362F;
}

.faq-question p{
	grid-column: 1/span 8;
	font-size: 1.75rem;
	color:white;
	font-weight:500;
	font-family:montserrat, sans-serif;
	padding-left:1.75rem;
}

.faq-answer{
	position:absolute;
	background-color:#FED10A;
	display:grid;
	grid-template-columns:repeat(9,1fr);
	opacity:0;
	transition: 0.3s ease;
	width:100%;
	height:100%;
	top:0;
}

.faq-answer p{
	grid-column: 1/span 8;
	font-size: 1.75rem;
	color:black;
	font-weight:400;
	padding-left:1.75rem;
}

.faq-element-wrapper:hover .faq-answer{
	opacity:1;
}


/* PRODUCT ORDER BOX OVERVIEW SECTION -------------------------------------------------------------------------------- */
.product-order-box-overview-wrapper{ /*placeholder wrapper for background*/
	background:#FFB6D0;
	padding:2.5rem;
}

.product-order-box-overview-grid{
	display:grid;
	grid-template-columns:repeat(6,1fr);
}

.left-arrow{
	color:#84124F;
	grid-column-start: 9;
	padding-left:0;
	font-family: ubuntu mono, monospace;
	margin-right:0.938rem;
}

.right-arrow{
	color:#84124F;
	grid-column-start: 9;
	padding-left:0;
	font-family: ubuntu mono, monospace;
	margin-left:0.938rem;
}

.product-order-box-overview-return{
	grid-column:1/span 6;
	margin-left:3rem;
	display:flex;
	flex-direction:row;
}

.product-order-box-overview-donuts{
	grid-column:1/span 6;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-content:center;
}

.product-order-box-overview-counter{
	grid-column:1/7;
	display:flex;
	flex-direction:row;
	align-content:center;
	justify-content: center;
}

.product-order-box-overview-donuts img{
	width:clamp(10vw, 100%, 50vw);
	max-height:100%;
	margin:auto;
}

.product-order-box-overview-return p{
	margin-top:0rem;
	margin-bottom:0rem;
	font-weight:bold;
	font-scale:1.5rem;
}

.product-order-box-overview-counter p{
	margin-top:0rem;
}

.product-order-box-overview-return a, .product-order-box-overview-counter a{
	text-decoration: none;
	color:#84124F;
}



/* TYPOGRAPHY SECTION -------------------------------------------------------------------------------- */ 
.typography-heading{
	margin-top:1rem;
}

/* WEBSITE GRID STRUCTURE SECTION -------------------------------------------------------------------------------- */ 
.grid-structure{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
}

.half{
	grid-column:span 6;
}

.third{
	grid-column:span 4;
}

.quarter{
	grid-column:span 3;
}

.placeholder-content{
	display:flex;
	flex-direction: column;
	justify-content: center;

	width:100%;
	height:100px;
	background-color:#F6F6F6;
	text-align:center;
	border:1px solid black;
}

/* COLOR SECTION -------------------------------------------------------------------------------- */ 

.color-swatches-grid h4{
	margin:0;
}

.color-swatches-grid{
	display:grid;
	min-width: 0;
	grid-template-columns:repeat(4, 1fr);
	grid-template-rows:repeat(3, 1fr 3fr);
	grid-gap:8px;
}

.color-swatch-item{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

.gold{
	background-color: #FED10A;
}

.violet{
	background-color: #6339A1;
	color: white;
}

.white{
	background-color: white;
	border:1px solid #CCC;
	color: black;
}

.black{
	background-color: black;
	color:white;
}

.burgundy{
	background-color:#B92575;
	color:white;
}

.burgundy-light{
	background-color:#FFB6D0;
}

.burgundy-dark{
	background-color:#84124F;
	color:white;
}

.teal{
	background-color:#2D6E62;
	color:white;
}

.teal-light{
	background-color:#55D1B9;
}

.teal-white{
	background-color:#D5F3ED;
}

.teal-dark{
	background-color:#194940;
	color:white;
}

.primary-heading{
	grid-column:1/-1;
	grid-row:1;
}
/*
.primary{
	grid-row:2;
}
*/
.information-heading{
	grid-column:1/-1;
	grid-row:3;
}
/*
.information-content-pages{
	grid-row:4;
}
*/
.shop-content-heading{
	grid-column:1/-1;
	grid-row:5;
}
/*
.shop-content-pages{
	grid-row:6;
}
*/
.color-swatch-heading{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.color-swatch-info{
	width:100%;

	padding:1rem;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}


/* HAMBURGER MENU --------------------------------------------------------------------------------- */ 

.toggler{
	box-shadow: none;	
}

.menu-wrap{
	visibility: hidden;
}

.hamburger-menu{
	color:white;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-content: center;
	visibility: hidden;

	position:fixed;
	top: 10;
	right: 0;
	width:100%;
	height: 100%;
	overflow:hidden;
	background-color: #6339A1;

	transform: opacity 0.4s;
	opacity: 0;
	}

.d-logo{
	width:50px;
	}

.hamburger-menu > .divider-line{
	width:35%;
	margin:1rem auto;
	background-color: white;
	}

.hamburger-menu > a{
	margin:0;
	}

.toggler{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width:50px;
	height:50px;
	opacity: 0;
}
 
 .hamburger{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width:60px;
	height:60px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

/* HAMBURGER MENU LINES*/
.hamburger-line {
	position: relative;
	width: 100%;
	height: 2px;
	background-color:white;
	display:flex;
	align-items: center;
	justify-content: center;
}

#top {
	top:-7.5px;
}

#bottom {
	top:7.5px;
}

/* HAMBURGER MENU TOGGLE*/
.toggler:checked ~.hamburger-menu{
	visibility: visible;
	transition: opacity .4s;
	opacity: 1;
}

/* TOGGLER ANIMATE */
.toggler:checked + .hamburger{
	transform: rotate(135deg);
	transition: transform .4s;
}

/* TURN LINES INTO X */
.toggler:checked + .hamburger > #top {
	top: 1px;
	transform: rotate(90deg);
	transition: transform .4s;
}

.toggler:checked + .hamburger > #bottom {
	top: -1px;
	transform: rotate(90deg);
	transition: transform .4s;
}
